*{
    padding:0;
    margin:0
}

.artigo{
color:black;
background-color: #FFFFFF;
width:1100px;
height:auto;
float:center;
text-align: left;
margin:auto
}
.artigo h1{
    font-family:'Roboto Mono', monospace ;
    font-size:40px;
    margin-top:15px;
    color:#000
}
form{
    background-color: #FFFFFF
}
form h2{
    font-family:'Microsoft YaHey Light';
    line-height: 80px;
    margin-bottom:10px
}
form img{
    width:50px;
    float:left;
    padding: 10px
}
textarea{
    height:100px;
    width:85%;
    border:none;
    padding:7px;
    font-size: 14pt;
    margin:9px;
    font-family:arial;
    outline:none
}
input[type="submit"]{
    font-family:'Arial Black';
    width:220px;
    height:52px;
    margin:30px;
    background-color: #000;
    color:#008000;
    border:2px solid #008000;
    cursor:pointer;
    display:block;
    float:right
}
input[type="submit"]:hover{
color:#FFFFFF;
background-color: #008000
}
/*-------------area-comentários------*/
.area-comentario{
box-sizing:border-box;
border-bottom: 1px solid gray;
clear:both;
padding:10px
}
.area-comentario img{
    width:50px;
    float:left;
    padding:10px
}
.area-comentario h3{
    float:left;
    color:rgb(0,0,139);
font-size:12pt;
padding:5px 10px 5px  0
}
.area-comentario h4{
    font-size:10pt;
    color:rgba(0, 0, 0, .6);
    line-height:30px
}
.area-comentario p {
    line-height:25px
}

