*{
    padding:0;
    margin:0
}
body{
    font-family: arial;
    background-color: #000
}
.navbar{
    display: flex;
    align-items: right;
    flex-direction: column;
    text-align: right;
    padding: 20px;
    text-decoration: none;
    margin: 0;
    font-family: 'Roboto Mono', monospace 
}
.navbar a {
    text-decoration: none;
    color:rgb(32, 97, 158);
    font-size: 32px;
    font-weight: 800;
    margin-right: 30px
}
    .navbar ul li :hover{
        border-bottom: 3px solid rgb(32, 97, 158)
}
li{
    display:inline-block
}
table{
    background-color: #C0C0C0;
    width:80%;
    margin:80px auto;
    border-collapse: collapse
}
tr#titulo{
    background-color: #808080;
    color:#FFFFFF;
    text-align: center
}
tr{
    height:50px;
    text-align: center
}
td{
    border:1px solid #000
}