*{
    padding:0;
    margin:0px
}
body{
    font-family: arial;
    background-color:#FFFFFF;
    background-repeat: no-repeat;
    background-size: 100%
}
span{
    text-align:center;
    display:block;
    color:#FFFFFF;
    background-color: #000;
    width:25%;
    font-weight: bold;
    font-size:30px;
    margin-top:50px;
    font-family: 'Roboto Mono', monospace;
    margin:auto;
    text-shadow: 1px 1px 3px gray;
    padding:30px
}
form{
    width:350px;
    margin:10px auto;
    background-color:#FFFFFF;
    padding:25px;
    box-shadow:1px 1px 10px rgba(0,0,0 ,.4);
    height:auto
}
img{
    width:20px;
    float:left;
    margin-right: 10px;
    margin-top:10px
}
input{
    display:block;
    float:left;
    width:87%;
    height:30px;
    font-size: 11pt;
    color:rgba(0,0,0,.7);
    padding:5px;
    margin-bottom:15px;
    outline:none
}
h1{
    font-size: 11pt;
    padding:10px;
    font-weight:normal;
    text-align: center;
    margin-bottom: 30px
}
input[type="submit"]{
    width:100px;
    height:40px;
    cursor:pointer;
    background-color:rgb(123,104,238);
    color:#FFFFFF;
    border:none;
    float:right;
    box-shadow: 1px 1px 4px rgba(0,0,0,.4)
}
a {
    display:block;
    text-align: left;
    clear:both;
    color:#000;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}